body {
    margin: 0px;
    padding: 0px;
    
    
}
body{
    background-image: url('../images/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-color: #e0E8FF;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: 'Red Hat Display' sans-serif;
    background-size: contain;

}
.main {
    font-size: 22px;
    font-style: normal;
    font-weight: bolder;
    text-align: center;
}
.text {
    padding-left:  80px;
    padding-right: 80px;
    line-height: 2;
    text-align: center;
}
.parent { 
    max-width: 450px;
    min-width: 200px;
    margin: 5.5rem 1rem;
    margin: 4.8rem 1rem;
    background-color: whitesmoke;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    
    
}
 .cancel {
     color: #717fa6;
     font-size: 15px;
     font-weight: 900;

}
#hero-pic {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    display: block;
      
}
.prices {
    max-width: 350px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    
}

.plan {
    background-color: #f7f9ff;
    border-radius: 11px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
    margin-top: 25px;
    padding: 20px 0;
}
.plan p {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    margin-bottom: 80px;
   

}
.plan span {
    font-weight:100;
    position: relative;
    margin-right: 50px;
    color: gray;
}

.plan img {
display: flex;
justify-content: flex-start;
margin-top: 2%;

}
.plan {
font-size: 16px;
}
.link {
    font-size: 14px;
    color: #382ae1;
    margin-left: 16px;
    margin-right: 10px;
    

}
.link:hover {
    color: #766cf1;
    text-decoration: none;
}
.footer {
    text-align: center;
    padding-bottom: 30px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.btm  {
font-family: 'Red Hat Display' sans-serif;
margin-bottom: 32px;
cursor: pointer;
width: 100%;


font-weight: bold;

}
.btm a {
    color: whitesmoke;
    background-color: #382ae1;
    padding: 10px 50px;
    border-radius: 10px;
}
.btm a:hover {
    background-color: #766cf1;
}
.cancel a {
    color: gray;
    font-size: 15px;
    font-weight: 900;
}


/*


.main {
    text-align: center;
    font-weight: bolder;
    font-size: 150%;
}
.text {
    text-align: center;
    line-height: 2;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.content {
    margin-bottom: 25px;
}
.prices {
    position: relative;
    text-align: center;

    
}
.prices img {
    
    float: left;
    position: absolute;
    left: 580px;
    top: 16px;
}

.plan {
    font-size: larger;
    font-weight: bold;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.plan span {
    font-weight: lighter;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.link {
    float: right;
    font-weight: bold;
    position: absolute;
    right: 550px;
    bottom: 18px;
}


.footer {
    text-align: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
.BUTTON_DQR  a {
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #0E4F98);
    background-image: -moz-linear-gradient(top, #1E62D0, #0E4F98);
    background-image: -ms-linear-gradient(top, #1E62D0, #0E4F98);
    background-image: -o-linear-gradient(top, #1E62D0, #0E4F98);
    background-image: -webkit-gradient(to bottom, #1E62D0, #0E4F98);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 16px;
    font-weight: 300;
    padding: 15px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 37px 51px 40px #0059A0;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .BUTTON_DQR a:hover {
    border: solid #0059A0 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #1B71D3);
    background-image: -moz-linear-gradient(top, #1E62D0, #1B71D3);
    background-image: -ms-linear-gradient(top, #1E62D0, #1B71D3);
    background-image: -o-linear-gradient(top, #1E62D0, #1B71D3);
    background-image: -webkit-gradient(to bottom, #1E62D0, #1B71D3);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }
   
.cancel {
    margin-top: 50px;
}
*/