body {
    margin: 0px;
    background-color: #e0E8FF;
    background-image: url('../images/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Red Hat Display', sans-serif;
    
}
.hero-pic {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.parent-container {
    max-width: 450px;
    min-width: 200px;
    margin: 5.5rem 1rem;
    
    background-color: whitesmoke;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    }
.main {
padding-left: 9.5rem;
font-weight: bolder;
font-family: sans-serif;

}
.main {
    font-size: 1.375rem;
}
.text {
padding-left:  5rem;
padding-right: 5rem;
line-height: 2;
text-align: center;
}

.middle-container {
display: flex;
}
.right-content {
    display: flex;
    align-items: center;
    background: rgb(241, 236, 236);
    width: 80%;
    border-radius: 20px;
    justify-content: space-between;
    padding: 10px;
    margin: auto;
}
.logo {
    padding-left: 20px;
}
.plan-info {
    padding-right: 60px;
}
.plan-info h3 {
    font-family: sans-serif;
}
.plan-info p {
color: #1d2459;
}
.change-link {
    font-weight: 600;
    color: #382ae1; 
    text-decoration: rgb(53, 51, 51);
}
.change-link a:hover {
    text-decoration: none;
    background-color: #ac51fc;
    color: whitesmoke;

}


.btm { 
    margin: 30px;
    text-align: center;
    margin-bottom: 30px auto 30px auto; 
    
}
.btm a{
background-color: #382ae1;
color: whitesmoke;
padding: 10px 50px 10px 50px;
font-weight: bold;
font-family: sans-serif;
border-radius: 10px;
text-decoration: none;

}
.btm a:hover {
    background-color: #6f67c4;
}
.cancel a {
    font-family: sans-serif;
    color: gray;
    font-size: 1rem;
    font-weight: 900;
}
.cancel a:hover {
    background-color: gray;
    color: whitesmoke;
    text-decoration: none;
}

.cancel {
    text-align: center;
    margin: 40px;
}



