body {
    background-color: rgb(248, 247, 248);
    margin: 0px;
    background-image: url("images/pattern-background-desktop.svg");
    
}
.parent {
    background-image: url("images/pattern-background-desktop.svg");
}

#hero-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;   
}

.main {
    text-align: center;
    font-weight: bolder;
    font-size: 150%;
}
.text {
    text-align: center;
    line-height: 2;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.content {
    margin-bottom: 25px;
}
.prices {
    position: relative;
    text-align: center;

    
}
.prices img {
    
    float: left;
    position: absolute;
    left: 580px;
    top: 16px;
}

.plan {
    font-size: larger;
    font-weight: bold;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.plan span {
    font-weight: lighter;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.link {
    float: right;
    font-weight: bold;
    position: absolute;
    right: 550px;
    bottom: 18px;
}


.footer {
    text-align: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
.BUTTON_DQR  a {
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #0E4F98);
    background-image: -moz-linear-gradient(top, #1E62D0, #0E4F98);
    background-image: -ms-linear-gradient(top, #1E62D0, #0E4F98);
    background-image: -o-linear-gradient(top, #1E62D0, #0E4F98);
    background-image: -webkit-gradient(to bottom, #1E62D0, #0E4F98);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 16px;
    font-weight: 300;
    padding: 15px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 37px 51px 40px #0059A0;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .BUTTON_DQR a:hover {
    border: solid #0059A0 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #1B71D3);
    background-image: -moz-linear-gradient(top, #1E62D0, #1B71D3);
    background-image: -ms-linear-gradient(top, #1E62D0, #1B71D3);
    background-image: -o-linear-gradient(top, #1E62D0, #1B71D3);
    background-image: -webkit-gradient(to bottom, #1E62D0, #1B71D3);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }
   
.cancel {
    margin-top: 50px;
}